# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/YOUR_CPANEL_USER/aura.srecieee.org"
PassengerBaseURI "/"
PassengerNodejs "/home/YOUR_CPANEL_USER/nodevenv/aura.srecieee.org/20/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

