# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/dn8ig9njc6g9/aura.srecieee.org"
PassengerBaseURI "/"
PassengerNodejs "/home/dn8ig9njc6g9/nodevenv/aura.srecieee.org/20/bin/node"
PassengerAppType node
PassengerStartupFile app.js
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END

# Fallback Passenger directive if CloudLinux tags differ
<IfModule mod_passenger.c>
    PassengerEnabled on
</IfModule>
